<!DOCTYPE html>
    <html>
    <head>
        <title>Wire-frame 1</title>
    </head>
    <body>
    <h1>Handling Errors</h1>
    <a asp-controller>Simulate a server error</a>  
    <a>Simulate an http error</a>
    </body>
    </html>
